/* display notebook
@media screen and (width: 2160px) and (height: 1440px) 
{
    #frameid
    {
      height: 101vw;
    }
    /* upper menu */
    /* #airp_menu
    {
      font-size: 13px;
    }

    #acc1
    {
      font-size: 16px;
    }
    #acc2
    {
      font-size: 16px;
    }
    #acc3
    {
      font-size: 16px;
    }
  
    #acc4
    {
      font-size: 16px;
    }
  
    #acc5
    {
      font-size: 16px;
    }
    #acc6
    {
      font-size: 16px;
    }
    /* lower menu */
    /* #acsbtn
    {
      font-size: 16px;
    }
    #bflt
    {
      font-size: 16px;
    }
    #rwy
    {
      font-size: 16px;
    }
    #wxid
    {
      font-size: 16px;
    }
    #commid
    {
      font-size: 16px;
    }
  
    /* media querys for menus div */
    /* #aol
    {
      height: 400px;
    }
    #airf
    {
      font-size: 40px;
      width: 350px;
    }
} */


/* media querys for 100% view (412x798) */
@media screen and (width: 412px) and (height: 798px) and (orientation: portrait)
{
  html{
    overflow: hidden;
  }
  .gerenal_nav_menu_skel{
    padding-top: 4px;
  }
  #frameid
  {
    height: 752px;
    /* background-color: red; */
  }

  #airp_menu
  {
    font-size: 13px;
  }

  #acc1
  {
    font-size: 13px;
  }
  #acc2
  {
    font-size: 13px;
  }
  #acc3
  {
    font-size: 13px;
  }

  #acc4
  {
    font-size: 13px;
  }

  #acc5
  {
    font-size: 13px;
  }
  #acc6
  {
    font-size: 13px;
  }
}

#usr
  {
    margin-top: 3px;
    font-size: 13px;
  }
  /* lower menu */
  #acsbtn
  {
    font-size: 13px;
  }
  #bflt
  {
    font-size: 13px;
  }
  #rwy
  {
    font-size: 13px;
  }
  #wxid
  {
    font-size: 13px
  }
  #commid
  {
    font-size:13px;
  }

/* landscape orientation */
@media screen and (width: 616px) and (height: 412px) {

  html{
    overflow: hidden;
  }
  .gerenal_nav_menu_skel{
    padding-top: 4px;
  }
  #frameid
  {
    height: 361px;
    /* background-color: red; */
  }

  #airp_menu
  {
    font-size: 13px;
  }

  #acc1
  {
    font-size: 13px;
  }
  #acc2
  {
    font-size: 13px;
  }
  #acc3
  {
    font-size: 13px;
  }

  #acc4
  {
    font-size: 13px;
  }

  #acc5
  {
    font-size: 13px;
  }
  #acc6
  {
    font-size: 13px;
  }
}

#usr
  {
    margin-top: 3px;
    font-size: 13px;
  }
  /* lower menu */
  #acsbtn
  {
    font-size: 13px;
  }
  #bflt
  {
    font-size: 13px;
  }
  #rwy
  {
    font-size: 13px;
  }
  #wxid
  {
    font-size: 13px
  }
  #commid
  {
    font-size: 13px;
  }